/*notification space managed*/
.portlet-dockbar .dockbar .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
    margin: 0;
}

/*change the nav bar color*/
.portlet-dockbar .dockbar .navbar-inner {
    background-color: #2b3d51;
    background-image: none;
    box-shadow:none;
}


/*lines in navbar*/
.portlet-dockbar .dockbar .navbar-inner .divider-vertical {
    border-left: 0px solid #2d343d;
    border-right: 1px solid #2d343d;
    margin:0;
}

/*for text color of nav bar*/
.portlet-dockbar .dockbar .navbar-inner .nav > li > a {
    color: #959ea8;
    text-shadow: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav > li > a:focus, .dockbar .navbar-inner .nav> li > a:hover {
    color: #fff;
    text-decoration: none;
}

/*to remove white color of tabs while dropdown open*/
.portlet-dockbar .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle, .dockbar .navbar-inner .nav li.dropdown.active > .dropdown-toggle, .dockbar .navbar-inner .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: initial;
    color: #fff;
}

/*to remove shadow of navbar*/
.portlet-dockbar .navbar-fixed-top .navbar-inner, .aui .navbar-static-top .navbar-inner {
    box-shadow: none;
}

/*for popup of admin does not create horizontal scroll bar*/
.portlet-dockbar .navbar .nav {
    margin: 0 20px 0 0;
}

/*User Image round*/
.portlet-dockbar .dockbar .user-avatar img {
    border-radius: 50%;
}



/*Bell in notification*/
/* .portlet-dockbar .dockbar .dockbar-user-notifications {
	background:rgba(0, 0, 0, 0) url("../images/bell.png") no-repeat;
	background-position: center;
	background-size :25px;
} */

.portlet-dockbar .dockbar .dockbar-user-notifications .user-notification-link {
	position: relative;
}
.portlet-dockbar .dockbar .dockbar-user-notifications .user-notification-link:before {
    content: "\f0f3";
    font-family: "fontawesome-alloy";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position : absolute;
}
/*Notification num square to circle*/
.portlet-dockbar .dockbar .dockbar-user-notifications .user-notifications-count, .notifications-portlet .nav a:hover, .notifications-portlet .nav a.selected, .notifications-portlet .user-notifications-list-container {
    border-radius: 50%;
}

/*Position of notification box*/
.portlet-dockbar .dockbar .dockbar-user-notifications .user-notifications-count, .notifications-portlet .user-notifications-count {
    border: none;
    top:-6px;
    left:8px;
    font-size: 12px;
    font-weight:600;
    padding: 2px 6px;
}



/* .portlet-dockbar .dockbar .navbar-inner .nav .admin-links{
	background:rgba(0, 0, 0, 0) url("../images/settings.png") no-repeat;
	background-position: center;
	background-size :25px;
	padding : 0 5px;
}

.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle {
	height:20px;
} */
.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle{
    position: relative;
}
 
.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle:before {
    content: "\f013";
    font-family: "fontawesome-alloy";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle {
	height:20px;
}


/*.portlet-dockbar .dockbar .navbar-inner .nav .my-sites{
	background:rgba(0, 0, 0, 0) url("../images/site.png") no-repeat;
	background-position: center;
	background-size :25px;
	padding : 0 5px;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle {
	height:20px;
}*/

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle{
    position: relative;
}
 
.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle:before {
    content: "\f0ac";
    font-family: "fontawesome-alloy";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle {
	height:20px;
}



.portlet-dockbar .dockbar .navbar-inner .nav .site-add-controls .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .page-preview-controls .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .page-edit-controls .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .toggle-controls .nav-item-label{
	display: none;
}


---------------------------------------------------------------------------------------------------
@import "compass";

.aui{
	
	
}


/*.....Dropdown.....*/
.dropdown-menu {
	border-radius:2px; 
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
	color: #444;
	font-size: 12px;  
	line-height: 55px;  
	}
.dropdown-menu  li  a  { 
	color: #444; 
	line-height:25px;
	}
.dropdown-menu  li  a:hover,  .dropdown-menu  li  a:focus, .dropdown-submenu:hover  a, 
.dropdown-submenu:focus  a , .dockbar .navbar-inner .site-administration-menu li a:focus, .dockbar .navbar-inner .site-administration-menu li a:hover{
	background-color: #d3f4fe; 
	background-image: none; 
	color: #444; 
	text-decoration: none;
	}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background-color: #d3f4fe; 
	background-image: none; 
	color: #444; 
	text-decoration: none;
}




--------------------------------------footer Structure----------------------------------------------

<root available-locales="en_US" default-locale="en_US">
	<dynamic-element dataType="string" indexType="keyword" name="Display_Name" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="Link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="large">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Name]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="Facebook" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Facebook_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="Twitter" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Twitter_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="LinkedIn" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[LinkedIn]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Linkedin_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Linkedin link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="Youtube" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Youtube_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
</root>


------------------------------------footer template---------------------------------------

<div class="span8 footerlinks">
#if (!$Display_Name.getSiblings().isEmpty())
<ul>
	#foreach ($cur_Display_Name in $Display_Name.getSiblings())
	<li><a href="$cur_Display_Name.Link.getData()">$cur_Display_Name.getData()</a></li>
	#end
</ul>
#end
</div>

<div class="span4 Social-icons">
#set ($imagePath = $request.get("theme-display").path-theme-images)
#if ($getterUtil.getBoolean($Facebook.getData()))
<a href="$Facebook_link.getData()" target="_blank"><img src="${imagePath}/fb.png" /></a>
#end

#if ($getterUtil.getBoolean($Twitter.getData()))
<a href="$Twitter_link.getData()" target="_blank"><img src="${imagePath}/twitter.png" /></a>
#end

#if ($getterUtil.getBoolean($LinkedIn.getData()))
<a href="$Linkedin_link.getData()" target="_blank"><img src="${imagePath}/linkedin.png" /></a>
#end

#if ($getterUtil.getBoolean($Youtube.getData()))
<a href="$Youtube_link.getData()" target="_blank"><img src="${imagePath}/youtube.png" /></a>
#end
</div>


---------------------------------footer portal normail vm------------------------------------------

<footer id="footer" role="contentinfo">
<div class="container">
		<div class="row">
			#set ($VOID = $velocityPortletPreferences.setValue('groupId', $themeDisplay.getScopeGroupId().toString()))
			#set ($VOID = $velocityPortletPreferences.setValue('articleId', '37149'))
			#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
			#set ($portlet_id = '56')
			#set ($instance_id = "footer1")
			#set ($my_portlet_id = "${portlet_id}_INSTANCE_${instance_id}")
			$theme.runtime($my_portlet_id, "", $velocityPortletPreferences.toString())
			$velocityPortletPreferences.reset()
		</div>	
		<div class="row">
			<div class="span6">
				<p>Terms of Use | Privacy Policy &reg; COPYRIGHT 2014-2015</p>
			</div>
			<div class="span6">
				<p class="powered-by">
					#language ("powered-by") <a href="http://www.google.com" rel="external">PPM</a>
				</p>
			</div>
		</div>
</div>
</footer>

------------------------------------footer column 4 structure---------------------------------------


<root available-locales="en_US" default-locale="en_US">
	<dynamic-element dataType="string" indexType="keyword" name="column_1" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Column 1]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="display_label_1" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Label 1]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="column_2" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Column 2]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="display_label_2" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Label 2]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="column_3" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Column 3]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="display_label_3" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Label 3]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="facebook_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="facebook_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="twitter_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="twitter_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="youtube_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="youtube_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="linkedin_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[LinkedIn ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="linkedin_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[LinkedIn Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
</root>

------------------------------------footer column 4 template----------------------------------------

<div class="row-fluid">

<div class="span3">
$column_1.getData()
<ul>
#if (!$display_label_1.getSiblings().isEmpty())
	#foreach ($cur_display_label_1 in $display_label_1.getSiblings())
    <li><a href="$cur_display_label_1.link.getData()">$cur_display_label_1.getData()</a></li>
	#end
#end
</ul>
</div>


<div class="span3">
$column_2.getData()
<ul>
#if (!$display_label_2.getSiblings().isEmpty())
	#foreach ($cur_display_label_2 in $display_label_2.getSiblings())
    <li><a href="$cur_display_label_2.link.getData()">$cur_display_label_2.getData()</a></li>
	#end
#end
</div>


<div class="span3">
$column_3.getData()
<ul>
#if (!$display_label_3.getSiblings().isEmpty())
	#foreach ($cur_display_label_3 in $display_label_3.getSiblings())
    <li><a href="$cur_display_label_3.link.getData()">$cur_display_label_3.getData()</a></li>
	#end
#end
</div>


<div class="span3">

#set ($imagePath = $request.get("theme-display").path-theme-images)
#if ($getterUtil.getBoolean($facebook_chk.getData()))
<a href="$facebook_link.getData()" target="_blank"><img src="${imagePath}/fb.png" /></a>
#end

#if ($getterUtil.getBoolean($twitter_chk.getData()))
<a href="$twitter_link.getData()" target="_blank"><img src="${imagePath}/twitter.png" /></a>
#end

#if ($getterUtil.getBoolean($youtube_chk.getData()))
<a href="$youtube_link.getData()" target="_blank"><img src="${imagePath}/linkedin.png" /></a>
#end

#if ($getterUtil.getBoolean($linkedin_chk.getData()))
<a href="$linkedin_link.getData()" target="_blank"><img src="${imagePath}/youtube.png" /></a>
#end

</div>

</div>
