/*notification space managed*/
.portlet-dockbar .dockbar .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
    margin: 0;
}

/*change the nav bar color*/
.portlet-dockbar .dockbar .navbar-inner {
    background-color: #2b3d51;
    background-image: none;
    box-shadow:none;
}


/*lines in navbar*/
.portlet-dockbar .dockbar .navbar-inner .divider-vertical {
    border-left: 0px solid #2d343d;
    border-right: 1px solid #2d343d;
    margin:0;
}

/*for text color of nav bar*/
.portlet-dockbar .dockbar .navbar-inner .nav > li > a {
    color: #959ea8;
    text-shadow: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav > li > a:focus, .dockbar .navbar-inner .nav> li > a:hover {
    color: #fff;
    text-decoration: none;
}

/*to remove white color of tabs while dropdown open*/
.portlet-dockbar .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle, .dockbar .navbar-inner .nav li.dropdown.active > .dropdown-toggle, .dockbar .navbar-inner .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: initial;
    color: #fff;
}

/*to remove shadow of navbar*/
.portlet-dockbar .navbar-fixed-top .navbar-inner, .aui .navbar-static-top .navbar-inner {
    box-shadow: none;
}

/*for popup of admin does not create horizontal scroll bar*/
.portlet-dockbar .navbar .nav {
    margin: 0 20px 0 0;
}

/*User Image round*/
.portlet-dockbar .dockbar .user-avatar img {
    border-radius: 50%;
}



/*Bell in notification*/
/* .portlet-dockbar .dockbar .dockbar-user-notifications {
	background:rgba(0, 0, 0, 0) url("../images/bell.png") no-repeat;
	background-position: center;
	background-size :25px;
} */

.portlet-dockbar .dockbar .dockbar-user-notifications .user-notification-link {
	position: relative;
}
.portlet-dockbar .dockbar .dockbar-user-notifications .user-notification-link:before {
    content: "\f0f3";
    font-family: "fontawesome-alloy";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position : absolute;
}
/*Notification num square to circle*/
.portlet-dockbar .dockbar .dockbar-user-notifications .user-notifications-count, .notifications-portlet .nav a:hover, .notifications-portlet .nav a.selected, .notifications-portlet .user-notifications-list-container {
    border-radius: 50%;
}

/*Position of notification box*/
.portlet-dockbar .dockbar .dockbar-user-notifications .user-notifications-count, .notifications-portlet .user-notifications-count {
    border: none;
    top:-6px;
    left:8px;
    font-size: 12px;
    font-weight:600;
    padding: 2px 6px;
}



/* .portlet-dockbar .dockbar .navbar-inner .nav .admin-links{
	background:rgba(0, 0, 0, 0) url("../images/settings.png") no-repeat;
	background-position: center;
	background-size :25px;
	padding : 0 5px;
}

.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle {
	height:20px;
} */
.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle{
    position: relative;
}
 
.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle:before {
    content: "\f013";
    font-family: "fontawesome-alloy";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .admin-links .dropdown-toggle {
	height:20px;
}


/*.portlet-dockbar .dockbar .navbar-inner .nav .my-sites{
	background:rgba(0, 0, 0, 0) url("../images/site.png") no-repeat;
	background-position: center;
	background-size :25px;
	padding : 0 5px;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle {
	height:20px;
}*/

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle{
    position: relative;
}
 
.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle:before {
    content: "\f0ac";
    font-family: "fontawesome-alloy";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle .icon-caret-down{
	display: none;
}

.portlet-dockbar .dockbar .navbar-inner .nav .my-sites .dropdown-toggle {
	height:20px;
}



.portlet-dockbar .dockbar .navbar-inner .nav .site-add-controls .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .page-preview-controls .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .page-edit-controls .nav-item-label,.portlet-dockbar .dockbar .navbar-inner .nav .toggle-controls .nav-item-label{
	display: none;
}


---------------------------------------------------------------------------------------------------
@import "compass";

.aui{
	
	
}


/*.....Dropdown.....*/
.dropdown-menu {
	border-radius:2px; 
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
	color: #444;
	font-size: 12px;  
	line-height: 55px;  
	}
.dropdown-menu  li  a  { 
	color: #444; 
	line-height:25px;
	}
.dropdown-menu  li  a:hover,  .dropdown-menu  li  a:focus, .dropdown-submenu:hover  a, 
.dropdown-submenu:focus  a , .dockbar .navbar-inner .site-administration-menu li a:focus, .dockbar .navbar-inner .site-administration-menu li a:hover{
	background-color: #d3f4fe; 
	background-image: none; 
	color: #444; 
	text-decoration: none;
	}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background-color: #d3f4fe; 
	background-image: none; 
	color: #444; 
	text-decoration: none;
}




--------------------------------------footer Structure----------------------------------------------

<root available-locales="en_US" default-locale="en_US">
	<dynamic-element dataType="string" indexType="keyword" name="Display_Name" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="Link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="large">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Name]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="Facebook" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Facebook_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="Twitter" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Twitter_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="LinkedIn" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[LinkedIn]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Linkedin_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Linkedin link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="Youtube" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="Youtube_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
</root>


------------------------------------footer template---------------------------------------

<div class="span8 footerlinks">
#if (!$Display_Name.getSiblings().isEmpty())
<ul>
	#foreach ($cur_Display_Name in $Display_Name.getSiblings())
	<li><a href="$cur_Display_Name.Link.getData()">$cur_Display_Name.getData()</a></li>
	#end
</ul>
#end
</div>

<div class="span4 Social-icons">
#set ($imagePath = $request.get("theme-display").path-theme-images)
#if ($getterUtil.getBoolean($Facebook.getData()))
<a href="$Facebook_link.getData()" target="_blank"><img src="${imagePath}/fb.png" /></a>
#end

#if ($getterUtil.getBoolean($Twitter.getData()))
<a href="$Twitter_link.getData()" target="_blank"><img src="${imagePath}/twitter.png" /></a>
#end

#if ($getterUtil.getBoolean($LinkedIn.getData()))
<a href="$Linkedin_link.getData()" target="_blank"><img src="${imagePath}/linkedin.png" /></a>
#end

#if ($getterUtil.getBoolean($Youtube.getData()))
<a href="$Youtube_link.getData()" target="_blank"><img src="${imagePath}/youtube.png" /></a>
#end
</div>


---------------------------------footer portal normail vm------------------------------------------

<footer id="footer" role="contentinfo">
<div class="container">
		<div class="row">
			#set ($VOID = $velocityPortletPreferences.setValue('groupId', $themeDisplay.getScopeGroupId().toString()))
			#set ($VOID = $velocityPortletPreferences.setValue('articleId', '37149'))
			#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
			#set ($portlet_id = '56')
			#set ($instance_id = "footer1")
			#set ($my_portlet_id = "${portlet_id}_INSTANCE_${instance_id}")
			$theme.runtime($my_portlet_id, "", $velocityPortletPreferences.toString())
			$velocityPortletPreferences.reset()
		</div>	
		<div class="row">
			<div class="span6">
				<p>Terms of Use | Privacy Policy &reg; COPYRIGHT 2014-2015</p>
			</div>
			<div class="span6">
				<p class="powered-by">
					#language ("powered-by") <a href="http://www.google.com" rel="external">PPM</a>
				</p>
			</div>
		</div>
</div>
</footer>

------------------------------------footer column 4 structure---------------------------------------


<root available-locales="en_US" default-locale="en_US">
	<dynamic-element dataType="string" indexType="keyword" name="column_1" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Column 1]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="display_label_1" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Label 1]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="column_2" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Column 2]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="display_label_2" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Label 2]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="column_3" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Column 3]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="display_label_3" readOnly="false" repeatable="true" required="false" showLabel="true" type="text" width="small">
		<dynamic-element dataType="string" indexType="keyword" name="link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
			<meta-data locale="en_US">
				<entry name="label">
					<![CDATA[Link]]>
				</entry>
				<entry name="predefinedValue">
					<![CDATA[]]>
				</entry>
				<entry name="tip">
					<![CDATA[]]>
				</entry>
			</meta-data>
		</dynamic-element>
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Display Label 3]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="facebook_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="facebook_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Facebook Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="twitter_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="twitter_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Twitter Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="youtube_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="youtube_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[Youtube Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="boolean" indexType="keyword" name="linkedin_chk" readOnly="false" repeatable="false" required="false" showLabel="true" type="checkbox" width="">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[LinkedIn ?]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[false]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
	<dynamic-element dataType="string" indexType="keyword" name="linkedin_link" readOnly="false" repeatable="false" required="false" showLabel="true" type="text" width="small">
		<meta-data locale="en_US">
			<entry name="label">
				<![CDATA[LinkedIn Link]]>
			</entry>
			<entry name="predefinedValue">
				<![CDATA[]]>
			</entry>
			<entry name="tip">
				<![CDATA[]]>
			</entry>
		</meta-data>
	</dynamic-element>
</root>

------------------------------------footer column 4 template----------------------------------------

<div class="row-fluid">

<div class="span3">
$column_1.getData()
<ul>
#if (!$display_label_1.getSiblings().isEmpty())
	#foreach ($cur_display_label_1 in $display_label_1.getSiblings())
    <li><a href="$cur_display_label_1.link.getData()">$cur_display_label_1.getData()</a></li>
	#end
#end
</ul>
</div>


<div class="span3">
$column_2.getData()
<ul>
#if (!$display_label_2.getSiblings().isEmpty())
	#foreach ($cur_display_label_2 in $display_label_2.getSiblings())
    <li><a href="$cur_display_label_2.link.getData()">$cur_display_label_2.getData()</a></li>
	#end
#end
</div>


<div class="span3">
$column_3.getData()
<ul>
#if (!$display_label_3.getSiblings().isEmpty())
	#foreach ($cur_display_label_3 in $display_label_3.getSiblings())
    <li><a href="$cur_display_label_3.link.getData()">$cur_display_label_3.getData()</a></li>
	#end
#end
</div>


<div class="span3">

#set ($imagePath = $request.get("theme-display").path-theme-images)
#if ($getterUtil.getBoolean($facebook_chk.getData()))
<a href="$facebook_link.getData()" target="_blank"><img src="${imagePath}/fb.png" /></a>
#end

#if ($getterUtil.getBoolean($twitter_chk.getData()))
<a href="$twitter_link.getData()" target="_blank"><img src="${imagePath}/twitter.png" /></a>
#end

#if ($getterUtil.getBoolean($youtube_chk.getData()))
<a href="$youtube_link.getData()" target="_blank"><img src="${imagePath}/linkedin.png" /></a>
#end

#if ($getterUtil.getBoolean($linkedin_chk.getData()))
<a href="$linkedin_link.getData()" target="_blank"><img src="${imagePath}/youtube.png" /></a>
#end

</div>

</div>
------------------------------------------------------------------------------------------------------------------------
left pannel in doc and media
.aui .well {
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    border-radius: 0; -----------------------------------------------------------------------------
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

navbar in doc and media
.aui .navbar-inner {
    background-color: #f6f6f6;
    background-image: linear-gradient(to bottom, #f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border: 1px solid #dddddd;
    border-radius: 0;---------------------------------------------------------------------------
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

breadcrumb in doc and media
.aui .breadcrumb {
    background-color: #f5f5f5;
    border-radius: 0;---------------------------------------------------------------------------
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 8px 15px;
}

blue msg in doc and media
.aui .alert, .aui .portlet-msg-alert, .aui .portlet-msg-error, .aui .portlet-msg-help, .aui .portlet-msg-info, .aui .portlet-msg-progress, .aui .portlet-msg-success {
    background-color: #fffbdc;
    border: 1px solid #f1d875;
    border-radius: 0;---------------------------------------------------------------------------
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

medias in doc and media
.entry-display-style, .lfr-search-combobox, .lfr-upload-container .upload-file, .lfr-upload-container .upload-target, .portlet-document-library .common-file-metadata-container.selected, .portlet-document-library-display .common-file-metadata-container.selected, .portlet-image-gallery-display .image-icon, .select-documents, .select-files {
    border-radius: 0;
}


top left dropdown for icon/list/descriptive in doc and media
.aui .btn-group > .btn:first-child {
    border-bottom-left-radius: 0;---------------------------------------------------------------------------
    border-top-left-radius: 0;---------------------------------------------------------------------------
    margin-left: 0;
}
.aui .btn-group > .btn:last-child, .aui .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}




Sign in portlet text box
.aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input {
    border-radius: 0;---------------------------------------------------------------------------
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

search box in doc and media
.aui .form-search .input-append .search-query {
    border-radius: 0;
}
.aui .form-search .input-append .btn {
    border-radius: 0;
}


sign in portlet bottom div with create account and forgot password
.portlet-login .navigation {
    background: none;---------------------------------------------------------------------------
    border-top: 0;---------------------------------------------------------------------------
    padding: 0;---------------------------------------------------------------------------
}

tabs
.aui .nav-tabs {
    background: #eee none repeat scroll 0 0;-------------------
    border-bottom: 1px solid #ddd;
}

.aui .nav-tabs > li {
    margin-bottom: 0;
}

.aui .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0;-------------------------
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.aui .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;------------------------------------
    border-image: none;
    border-style: solid;
    border-width: 0 0 3px;-----------------------------------
    color: #555555;
    cursor: default;
}



.aui .nav-tabs > li > a:hover, .aui .nav-tabs > li > a:focus {
    border-color: transparent; ---------------------------------
	border-width: 0 0 3px;---------------------------------------
}

.aui .nav > li > a:hover, .aui .nav > li > a:focus {
    background-color: transparent;--------------------------------
    text-decoration: none;
}

.aui .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0; ---------------------------------
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}

--------------------------------------------4/11-----------------------------------------------------
/*****************************Tabs**************************************/

.aui .nav-tabs > li {
    margin-bottom: 0;
}

.aui .nav-tabs {
    border-bottom: medium none;
}


.aui .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: transparent transparent #22b7e5;------------------------
    border-image: none;
    border-style: solid;
    border-width: 3px;------------------------
    color: #22b7e5;------------------------
    cursor: default;
    font-weight: bold;------------------------added
}

.aui a {
    color: #555;--------------------------
    text-decoration: none;
}


.aui .nav-tabs > li > a:hover, .aui .nav-tabs > li > a:focus {
    border-color: transparent transparent #22b7e5;------------------
	border-width: 3px;-------added
}

.aui .nav > li > a:hover, .aui .nav > li > a:focus {
    background-color: transparent;----------------
    text-decoration: none;
}

.aui .nav-tabs > li > a {
    border: 3px solid transparent;------------------
    border-radius: 0; -------------------------
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.aui a:hover, .aui a:focus {
    color: #22b7e5;
    text-decoration: underline;
}

/*****************************Tabs end**************************************/




/********************************button in nav bar**********************************/


.aui .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover {
    background-color: #007095;--------------
    color: #fff;---------------------
    text-decoration: none;
}

.aui .navbar .nav > li > a {
    background-color: #008cba;-----
    border-color: #007095;------------
    color: #fff;----------
    float: none;
    margin-right: 5px;---------- added
    padding: 10px 15px;
    text-decoration: none;---------------
    text-shadow: none;---------------
}


for wiki portlet

.aui .navbar .nav > .active > a, .aui .navbar .nav > .active > a:hover, .aui .navbar .nav > .active > a:focus {
    background-color: #007095;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

/********************************button in nav bar end**********************************/




/******************************************search container table******************************************/

.aui .table-hover tbody tr:hover > .first {
    border-left: 4px solid #6ad1df;
}
.aui .table-hover tbody tr:hover > td, .aui .table-hover tbody tr:hover > th {
    background-color: #f2fdff;
}
.aui .table-bordered th, .aui .table-bordered td {
    border-left: 4px solid transparent;
}

.aui .table-striped tbody > tr:nth-child(2n+1) > td, .aui .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #f9fcfd;
}
.aui .table th, .aui .table td {
    border-top: medium none;----------------------------------
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}


/******************************************search container table end******************************************/

/******************************************search container previos nex button and text******************************************/


.aui .pager li > a, .aui .pager li > span {
    background-color: #23b7e5;-------------
    border: none;-------------------
    border-radius: 5px;------------------------
    display: inline-block;
    padding: 5px 14px;
}

.aui a {
    color: #fff;------------------------
    text-decoration: none;
}


.aui .pager li > a:hover, .aui .pager li > a:focus {
    background-color: #0087de;
    text-decoration: none;
}

.aui a:hover, .aui a:focus {
    color: #fff;
    text-decoration: underline;
}


.aui .pager .disabled > a, .aui .pager .disabled > a:hover, .aui .pager .disabled > a:focus, .aui .pager .disabled > span {
    background-color: #0087de;-----------------------------
    color: #999999;
    cursor: default;
}

.lfr-pagination {
    color: #217aa0;
}

/******************************************search container  previos nex button and text end******************************************/


