/* general styles */
@font-face {
font-family: PierSans;
src: url("../fonts/pier-regular.otf") format("opentype");
}



html, body {
  font-family: PierSans, Helvetica, Verdana, Sans-Serif;
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.home-overlay{
 display: table-cell;
 text-align: center;
 color :#ffffff;
}

.home .container {
    padding: 145px 20px;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  
}

/* additional sections */
#home {
  background: url(../images/home.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:900px;
}

#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#skill {
  background: url(../images/estate.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#skill .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

/* My own css */

.navbar-default {
    background-color: #9d6fc8;
    border-color: #6a3085;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #6a3085;
    color: #ffffff;
}

.navbar-default .navbar-nav  > li :focus, .navbar-default .navbar-nav > li:hover {
    background-color: #6a3085;
}

.navbar-default .navbar-nav  > li >a :focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}

.navbar-default .navbar-toggle {
    border-color: #6a3085;
	background-color: #6a3085;
}

.navbar-header .navbar-toggle:hover ,.navbar-header .navbar-toggle:focus{
    border-color: #6a3085;
	background-color: #6a3085;
}



.navbar-header .navbar-toggle .icon-bar {
	background-color:#ffffff;
}
.navbar-header .navbar-toggle:hover .icon-bar {
	background-color:#ffffff;
}


/* for transparent background on home*/
.home-overlay{
background: repeat scroll 0 0 rgba(53,60,79,.8);
height:100%;
position:relative;
}

.logo{
    position: relative;
    margin: 0 auto;
}
.logo img{
    margin: 0 auto;   
	height:150px;
	width:150px;
	border-radius: 5px;	
}

.avatar-section{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: -235px;
    width: 100%;
    display: block;
}
.avatar-section img{
    margin: 0 auto;    
}

.avatar-section img {
    border: 10px solid #eff0f4;
    border-radius: 250px;
    height: 460px;
    margin: 0 auto;
    width: 460px;
}

.info > h1{
font-weight:800;
font-size:90px
}

.info > h3{
font-weight:800;
font-size:33px
}

.about-head{
margin-top:210px;
margin-bottom:40px;
}

.about-head  h2{
font-weight:800;
font-size:60px
}

.about-head p{
font-size:16px;
margin:0 10px;
}

.about-info{
margin-top:30px;
}

.about-info-title{
display:inline-block;
font-weight:bold;
min-width:100px;
text-align:left;
}
.about-info-details{
display:inline-block;
text-align:left;
}

.about-hobby h3{
font-weight:800;
font-size:20px;
}

.about-hobby .glyphicon{
border: 2px solid #333333;
border-radius: 50%;
font-size: 60px;
height: 140px;
line-height: 140px;
text-align: center;
vertical-align: middle;
width: 140px;
margin:5px;
background-color:#f0f2f7;
}

.about-hobby .icon p{
font-size:20px;
text-align:center;
}

.about-hobby .icon{
display:inline-block;
margin:20px;
}



#myresume{
	background-color:#f0f2f7;
}



.myresume h2 {
    font-size: 60px;
    font-weight: 800;
}






/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 0px 0 0px;
  position: relative;
  text-align:center;
}

.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 250px;
  background: #dbdde5;
  border-radius: 5px;
  color: #2c3d4f;
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/

.timeline li .timeline-panel:hover{
background: #fff;
   -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.timeline li .timeline-panel {
  width: 46%;
  float: left;
  padding: 20px;
  position: relative;
  margin:10px;
}

/*.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}*/

/** panel arrows **/
.timeline li .timeline-panel:hover:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline li .timeline-panel:hover:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

/*
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
*/
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:hover:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:hover:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/*
.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
*/

/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 40px;
  left: 50%;
  text-align: center;
  background: #6a8db3;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-left: -9px;
  border: 2px solid #90acc7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline li :hover >.tl-circ{
	background: #eee;
	border: 2px solid #90acc7;
}


/** timeline content **/

.tl-heading h3 {
  margin: 0;
  color: #c25b4e;
}

.tl-heading h5{
  color: #777;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}



/* 11 - Skill chart
------------------------------------------------------------------------*/
.chart-padding{
    margin-bottom: 50px; 
}
.chart {
  position: relative;
  padding: 0 10px;
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 170px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.chart p{
    color: #9fa3a9;
    font-size: 50px;
    line-height: 170px;
}
.chart p sup{
    font-size: 18px;
    top: -1.2em;
}
.skills-content{
    text-align: center;
}
.skills-content h3{
    color: #2c3e50;
    font-size: 22px;
    font-weight: bold;
}
.skills-content p{
    color: #7d878f;
    font-size: 16px;
    line-height: 28px;
}


/*My css for skill chart*/

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}
.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #81CE97;
  transform: rotate(0deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}
.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 50px;
  color: #9fa3a9;
}
.ppc-percents sup{
  top:-20px;
  font-size: 18px;
  color: #9fa3a9;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.progress-pie-chart {
  margin: 50px auto 0;
}

.contact-title h2 {
    font-size: 60px;
    font-weight: 800;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #f5f5f5;
  color: #999999;
  padding: 26px;
  z-index: -1000;
  
}

#about{
	background-color:#fff;
}

#skills{
	background-color:#fff;
}

#contact{
	background-color:#fff;
	margin-bottom:70px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.copyright{
bottom:0;
}
.footer-info{
	font-size:20px;
}


#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   background-color: #eee;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top:50%;
  left:50%;
  z-index: 100;
}